.header {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(160, 160, 181, 0.525);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 100;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    padding: 15px;
    justify-content: center;
  }
  
  nav a {
    cursor: pointer;
    font-weight: bold;
  }

  
  
  