

<app-header></app-header>

<div style="height: 80px;"></div> <!-- espace pour le header -->

<!-- PRESENTATION -->
<section id="presentation" class="section hero fade-section">
    <div class="text">
      <h1>Jordan TCHUEM SIAKA</h1>
      <p>
        Software Engineering graduate from ECE Paris (Class of 2025), specialized in information systems and full-stack development. Currently seeking a full-time position (CDI) to contribute to impactful software projects while continuing to grow as an engineer in a dynamic and collaborative environment.
      </p></div>
  
    <div class="photo">
      <img src="/assets/images/photo_cv.jpg" alt="Ma photo">
    </div>
  </section>
  
<!-- EDUCATION -->
<section id="education" class="section fade-section">
  <h2>Education</h2>

  <!-- ECE Paris -->
  <div class="parcours-card">
    <div class="parcours-content">
      <h3>ECE Paris – Engineering Degree (Master’s level, Bac +5)</h3>
      <p>
        I completed an <strong>Engineering Degree in Software Engineering</strong> at ECE Paris,
        where I built strong expertise in web development, software architecture,
        and information systems through academic projects and hands-on technical work.
      </p>
    </div>

    <div class="parcours-image">
      <img src="/assets/images/ECE_LOGO.png" alt="ECE Paris">
    </div>
  </div>

  <!-- Lycée Langevin-Wallon -->
  <div class="parcours-card">
    <div class="parcours-content">
      <h3>Lycée Langevin-Wallon – Scientific Preparatory Classes</h3>
      <p>
        I completed <strong>scientific preparatory classes</strong> with a strong focus on
        mathematics, physics, and problem-solving, which helped me develop rigor,
        analytical thinking, and a solid scientific foundation.
      </p>
    </div>

    <div class="parcours-image">
      <img src="/assets/images/langevin.png" alt="Langevin-Wallon">
    </div>
  </div>

</section>

  
  
  <!-- EXPERIENCES -->
<section id="experiences" class="section fade-section">
    <h2>Professional Experience</h2>
  
    <div class="experience-card">
      <div class="experience-content">
        <h3>Enedis – Software engeneer</h3>
        <p>
          During my 6-month internship at Enedis, I worked as a software developer within an agile environment, contributing to the development and maintenance of information systems using Java Spring Boot, Angular, and modern DevOps practices on large-scale, production-level applications.
        </p>
  
        <button class="details-btn" [routerLink]="['/enedis']">
          View Details
        </button>
        
      </div>
  
      <div class="experience-image">
        <img src="/assets/images/Logo_enedis_header.png" alt="Enedis Logo">
      </div>
    </div>
  </section>
  
  
  <!-- softskills -->
  <section id="softskills" class="section fade-section">
    <h2>areas of interest</h2>
    <div class="projets-container">
      <div class="projet">Anglais</div>
      <div class="projet">AI</div>
      <div class="projet">Sports</div>
    </div>
  </section>
  
  <!-- CONTACT -->
<section id="contact" class="section fade-section">
  <h2>Contact</h2>

  <!-- YOU -->
  <div class="contact-group">
    <h3>Get in touch with me</h3>

    <div class="contact-pills">
      <a
        class="contact-pill"
        href="https://www.linkedin.com/in/jordan-tchuem-siaka-8a85031b3/"
        target="_blank"
        rel="noopener"
      >
        <img src="/assets/images/linkedin.png" alt="LinkedIn" />
        LinkedIn
      </a>

      <a
        class="contact-pill"
        href="https://github.com/Jojo94UTD"
        target="_blank"
        rel="noopener"
      >
        <img src="/assets/images/github.png" alt="GitHub" />
        GitHub
      </a>

      <a
        class="contact-pill"
        href="jordan_tchuem@yahoo.fr"
      >
        <img src="/assets/images/email.jpg" alt="Email" />
        Email
      </a>
    </div>
  </div>

  <!-- REFEREE -->
  <div class="contact-group">
    <h3>Professional Referee - Abdel Samad CHITOU</h3>

    <div class="contact-pills">
      <a
        class="contact-pill"
        href="https://www.linkedin.com/in/abdel-samad-chitou-6a7bb36a/"
        target="_blank"
        rel="noopener"
      >
        <img src="/assets/images/linkedin.png" alt="LinkedIn" />
        LinkedIn
      </a>

      
    </div>
  </div>
</section>



  