<div class="header"> 
    <app-header></app-header>
</div>

<div style="height: 80px;"></div> <!-- espace pour le header -->


<!-- PRESENTATION -->
<section id="presentation" class="section hero fade-section">
    <div class="text">
      <h1>Jordan TCHUEM SIAKA</h1>
      <p>Ingénieur spécialisé dans le développement des systèmes d'information</p>
    </div>
  
    <div class="photo">
      <img src="/assets/images/photo_cv.jpg" alt="Ma photo">
    </div>
  </section>
  
<!-- PARCOURS -->
<section id="parcours" class="section fade-section">
    <h2>Mon parcours</h2>
  
    <div class="parcours-card">
      <div class="parcours-content">
        <h3>ECE Paris (Cycle Ingénieur, BAC +5)</h3>
        <p>
          J’ai suivi un cursus complet en ingénierie informatique, 
          avec des projets en développement web et systèmes d’information.
        </p>
        <button class="details-btn" routerLink="/parcours-details">
            View Details
        </button>
      </div>
      <div class="parcours-image">
        <img src="/assets/images/ECE_LOGO.png" alt="ECE Paris">

      </div>
    </div>
  </section>
  
  
  <!-- EXPERIENCES -->
<section id="experiences" class="section fade-section">
    <h2>Professional Experience</h2>
  
    <div class="experience-card">
      <div class="experience-content">
        <h3>Enedis – IT & Systems Engineering</h3>
        <p>
          As part of the IT engineering division, I contributed to the development,
          maintenance, and optimization of information systems supporting national-scale
          energy distribution operations. My role included full-stack development,
          data flows management, workflow automation, and collaboration within
          agile teams.
        </p>
  
        <button class="details-btn" routerLink="/enedis-details">
          View Details
        </button>
      </div>
  
      <div class="experience-image">
        <img src="/assets/images/Logo_enedis_header.png" alt="Enedis Logo">
      </div>
    </div>
  </section>
  
  
  <!-- PROJETS -->
  <section id="projets" class="section fade-section">
    <h2>Mes projets</h2>
    <div class="projets-container">
      <div class="projet">Projet 1</div>
      <div class="projet">Projet 2</div>
      <div class="projet">Projet 3</div>
    </div>
  </section>
  
  <!-- CONTACT -->
  <section id="contact" class="section fade-section">
    <h2>Contact</h2>
    <p>Email : tonemailgmail.com</p>
    <p>LinkedIn : ton-lien</p>
  </section>
  